body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    text-align: center;
    color: #333;
}

.question {
    margin-bottom: 40px;
}

.output {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona sombra quando o código é exibido */
}

.output.highlight {
    color: red;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.input label {
    margin-right: 10px;
}

.input input {
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.input button {
    padding: 8px 15px;
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.input button:hover {
    background-color: #45a049;
}

.answer {
    display: none;
    margin-top: 10px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    border-left: 4px solid #4CAF50;
}

#alt_id {
    color: purple;
}

[name="alt_name"] {
    color: pink;
}

.alt_class {
    color: yellow;
}
